/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  background-image: url(../img/sfondo.png);
  background-size: 100%;
}

/* HEADER */
header {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(62, 142, 162, 1) 0%, rgba(43, 163, 190, 1) 26%, rgba(38, 201, 236, 1) 52%);
  text-align: center;
  padding-top: 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
nav {
  margin-block: 2rem;
  padding-bottom: 2rem;
}
nav i {
  padding-inline: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 60%;
  padding-block: 2rem;
}
/* MAIN */
main {
  width: 100%;
  background-color: white;
  padding-block: 1rem;
}
/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 29px;
  font-weight: 700;
  line-height: 2.5rem;
}
section div {
  padding-block: 1rem;
  padding-inline: 0.5rem;
}

h2 {
  color: grey;
  display: inline;
}
article div {
  font-size: 20px;
  line-height: 1.7rem;
}
article {
  padding: 0.5rem;
}

article p,
article ul,
article ol {
  padding: 0.5rem;
}
article span {
  color: #aa47aa;
  font-weight: 700;
}

article ul {
  list-style: disc;
  padding-inline: 2rem;
}
article ol {
  list-style: decimal;
  padding-inline: 2rem;
}

.button {
  color: black;
  font-weight: 400;
  width: 100%;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.no-padding {
  padding-block: 0;
}

/* TABELLE */
table {
  width: 100%;
}
legend {
  text-align: center;
  font-weight: 700;
  font-style: italic;
}
table thead {
  height: 3rem;
  background-color: #4668c1;
  color: white;
  text-align: center;
}

tr {
  height: 3rem;
}
td {
  width: 33.33%;
}

.grey {
  width: 100%;
  background-color: rgb(214, 214, 214);
}

#banner {
  height: 1px;
  background-color: #4668c1;
}

iframe {
  width: 100%;
  margin-block: 1rem;
  border-radius: 30px;
}
/* FORM */

aside {
  width: 100%;
  background-color: #e2e3e4;
  margin-block: 1rem;
  font-size: 20px;
}

form {
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

form div {
  display: inline;
}

#button {
  background-color: #4668c1;
  color: white;
}
/* ELEMENTI NELL' ASIDE */
.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  padding-block: 1rem;
  text-align: center;
}

.novita,
.correlation {
  width: 95%;
  background-color: #e2e3e4;
  margin-block: 1rem;
  font-size: 20px;
  padding-left: 0.5rem;
}
.correlation {
  line-height: 1.7rem;
}
.correlation a {
  color: #3792b9;
}
.data {
  text-align: right;
  padding-top: 1rem;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #225364;
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-size: 13px;
}

footer p {
  padding: 1rem;
}
footer a {
  color: #9e36af;
  font-weight: 700;
}
